.Header {
    padding: 1rem 2rem;
    border-bottom: 1px solid rgb(33, 33, 35);
}
.Header__name {
    color: #000000;
}

.ChatWindow {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Chats {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    margin: 0 auto;
    overflow-y: scroll;
}
.Chat {
    margin: 1rem 0;
    color: #fff;
    padding: 1rem;
    background: linear-gradient(90deg, #1986d8, #7b9cc2);
    max-width: 90%;
    border-radius: 10px 10px 10px 10px;
}
.Chat.is-user-msg {
    margin-left: auto;
    background: #2b2c33;
    border-radius: 10px 10px 10px 10px;
}

.Message {
    width: 80%;
    margin: 1rem auto;
}
.Message__input {
    width: 100%;
    padding: 1rem;
    background: rgba(148, 148, 148, 0.8);
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    outline: 0;
}


#style-4::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
    background-color: #ffffff;
}

#style-4::-webkit-scrollbar
{
    width: 4px;
    background-color: #a1a1b3;
}

#style-4::-webkit-scrollbar-thumb
{
    background-color: #acacac;
    border: 2px solid #555555;
    border-radius: 15px;
}

@media (min-width: 576px) {
    .Chat {
        max-width: 60%;
    }
}