.sidebar {
    width: 80px;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(156, 156, 159);
    transition: width 0.3s;
    overflow-y: scroll;
}

#style-4::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgb(105, 105, 105);
    background-color: #e9e9ff;
}

#style-4::-webkit-scrollbar
{
    width: 4px;
    background-color: #19191c;
}

#style-4::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 2px solid #555555;
    border-radius: 15px;
}

/* not small devices  */
@media (min-width: 576px) {
    .sidebar {
        width: 320px;
    }
}