.Bank__App {
    min-height: 100%;
    padding-top: 20px;
    text-align: center;
    background-image: radial-gradient(#fe718f 0%, #fe8183 42%, #ff9b73 87%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Bank__App__username {
    color: #fff;
    font-weight: bold;
}
.Bank__App__userpic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-self: center;
}
.Bank__App__amount {
    position: relative;
    align-self: center;
    background: #fff;
    color: rgba(0, 0, 0, 0.47);
    font-size: 2.1rem;
    font-weight: bold;
    padding: 2.5rem 5rem 1.5rem;
    border-radius: 11px;
    margin: 1rem 0 5rem 0;
    box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.02);
}
.Bank__App__amount:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 90%;
    height: 100%;
    top: 10%;
    left: 5%;
    background: #fff;
    box-shadow: 0 5px 34px 23px rgba(0, 0, 0, 0.06);
    border-radius: 11px;
}
.Bank__App__amount--info {
    font-size: 0.6rem;
}

.Bank__App__buttons > button {
    outline: 0;
    background: #fff;
    color: #fe718f;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: pointer;
}

.Bank__App__giveaway {
    font-size: 0.7rem;
    color: #fe8183;
    cursor: pointer;
}
